

<div id="spacebox"></div>
<section class="location-area">
    <h1><img src="images/earth-location.png" /> Our Location</h1> 
</section>
<div class="container-f">
<div id="outline-footer"></div>
<div id="footer-info">
<div class="row">
    <div class="col-sm-6 col-md-4">
        <h2 id="footer-title"> Links </h2>
        <ul>
        <li>
        <a href="/" id="footer-link">Home</a>
        </li>
        <li>
        <a href="/aboutus" id="footer-link">About Us</a>
        </li>
        <li>
        <a href="/services" id="footer-link">Products & Services</a>
        </li>
        </ul>
        </div>
    <div class="col-sm-6 col-md-4">
    <h2>.</h2>
        <ul>
        <li>
        <a href="/casestudies" id="footer-link">Case Studies</a>
        </li>
        <li>
        <a href="/downloads" id="footer-link">Downloads</a>
        </li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
                        <h2 id="footer-title"> Contact Us </h2>
                        <ul>
                        <li>
                        <p id="footer-link"><img style="max-width: 20px;" src="images/location.png"/>  3310 Longfellow Ave</p>
                        </li>
                        <li>
                        <p id="footer-link"> Windsor, Ontario </p>
                        </li>
                        <li>
                        <p id="footer-link"> Canada, N9E 2L6 </p>
                        </li>
                        <li>
                        <a href="contact" class="btn btn-danger">Contact Us</a>
                        </ul>
                        </div>
    </div>
    </div>

<div class="dev-footer">
    <p> Built By <a id="footer-dev-link" href="http://christopher-netten.me">©Chris Netten</a> - 2016</p>
</div>
</div>
</div>
</html>
