<div id="spacebox">

</div>
<section class="location-area">
    <h1><img id="location-image" src="images/earth-location.png" /> Our Location</h1>
</section>
<div class="container-f">
    <div id="outline-footer"></div>
    <div id="footer-info">
        <div class="row">

            <div class="col-xs-2 col-xs-15">

                <h2 id="footer-title"> Innovation </h2>
                <ul>
                    <li>
                        <a href="/" id="footer-link">Shaping the future</a>
                    </li>
                    <li>
                        <a href="/aboutus" id="footer-link">Our technologies</a>
                    </li>
                </ul>

            </div>

            <div class="col-xs-2 col-xs-15">
                <div id="link1-footer">
                    <h2 id="footer-title"> Company </h2>
                    <ul>
                     <li>
                            <a href="/" id="footer-link">At a glance</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Management</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Location</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Quality</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">History</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Subsidaries</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Programs</a>
                        </li>
                        
                        </ul>
                </div>
            </div>

            <div class="col-xs-2 col-xs-15">
                <h2 id="footer-title">CUSTOMERS</h2>
                <ul>
                    <li>
                <a href="/"" id="footer-link">WIDL customer portal</a>
                    </li>
                </ul>
                <h2 id="footer-title">TALENT</h2>
                <ul>
                    <li>
                        <a href="/" id="footer-link">Case Studies</a>
                    </li>
                    <li>
                        <a href="/" id="footer-link">Downloads</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-2 col-xs-15">
                <h2 id="footer-title"> Media </h2>
                <ul>
                    <li>
                            <a href="/" id="footer-link">Press releases and news</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">Agenda</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">Photos and videos</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">Publications</a>
                        </li>
                 </ul>
                    
            </div>
        </div>

    </div>
    <div id="b-footer-container">
        <div id="links-footer-b">
            <div class="row">
                <div class="col-xs-2 col-xs-15">
                    <h2 id="footer-title"> Materials </h2>
                    <ul>
                        <li>
                            <a href="/" id="footer-link">Polymers</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">Metals</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">Concrete</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Wood</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Composites</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-2 col-xs-15">
                    <h2 id="footer-title"> Design and Processing </h2>
                    <ul>
                        <li>
                            <a href="/" id="footer-link">Computer-aided design</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">Computer-aided engineering</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">Computer-aided manufacturing</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-2 col-xs-15">
                    <h2 id="footer-title"> Testing </h2>
                    <ul>
                        <li>
                            <a href="/" id="footer-link">Quasi-static</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">Visco-elastic</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">Thermal</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Frequency domain</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Accoustic</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-2 col-xs-15">
                    <h2 id="footer-title"> Management </h2>
                    <ul>
                        <li>
                            <a href="/" id="footer-link">R&D preperation</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">Contract assistance</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">SR&ED technical writing</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Government grant research and preperation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-2 col-xs-15">
                    <h2 id="footer-title"> Support and Services </h2>
                    <ul>
                        <li>
                            <a href="/" id="footer-link">Material selection and characterization</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">Product development and validation</a>
                        </li>
                        <li>
                            <a href="/" id="footer-link">Product or process troubleshooting</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Contract work and representation</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Project management</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Grant research and preperation</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Machinery development and commissioning</a>
                        </li>
                         <li>
                            <a href="/" id="footer-link">Training and seminars</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


<section class="final-footer">
    <span id="final-links">
    <a>Site map</a>
    <a>Cookie policy</a>
    <a>Legal information</a>
    <a>Contact us</a>
    <a>Disclaimer</a>
    </span>
    <span>
    
    </span>
</section>


</html>