<!DOCTYPE html>
<html>

<head>
    <!-- Hide this line for IE (needed for Firefox and others) -->
    <![if !IE]>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
    <![endif]>
    <!-- This is needed for IE -->
    <link rel="shortcut icon" href="/images/icon.ico" type="image/ico" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/animate.min.css' />
    <link rel='stylesheet' href='/stylesheets/slippry.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel='stylesheet' href='/lib/gridstack/dist/gridstack.min.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

    
    <script src="javascripts/map.js" type="text/javascript"></script>
    <script src="javascripts/script.js" type="text/javascript"></script>
    <script src="javascripts/slippry.min.js" type="text/javascript"></script>
    <script src="/lib/wow/dist/wow.js"></script>
    <script src="javascripts/twitterFetcher_min.js" type="text/javascript"></script>
        <script src="javascripts/jquery.counterup.min.js" type="text/javascript"></script>

    <script src="/lib/underscore/underscore.js"></script>
    <script src="/lib/gridstack/dist/gridstack.js"></script>






    <div class="siteLoadUp"></div>
</head>

<header>
<section id="upper-nav">
 <span>
    <div  class="dropdown" style="float: left; padding-right: 0.5%; ">
  <a  href="#"class="dropdown-toggle" id="upper-nav-link" type="button" data-toggle="dropdown"><span class="caret"></span><b>EN</b></a>
  <ul class="dropdown-menu">
    <li><a href="#"><b>FR</b></a></li>
  </ul>
</div>

 <a href="/company" id="upper-nav-link" style="padding-right: 0.5%;" ><b>Company</b></a> 
 <a href="/innovation" id="upper-nav-link"><b>Innovation</b></a>
 </span>

 <span id="upper-nav-content-right">
  <a href="/customer" id="upper-nav-link-right"><b>Customers</b></a> 
  <a href="/suppliers" id="upper-nav-link-right"><b>Suppliers</b></a> 
  <a href="/talent" id="upper-nav-link-right"><b>Talent</b></a> 
  <a href="/news" id="upper-nav-link-right"><b>Media</b></a> 
 </span>
 
</section>
  <nav class="navbar navbar-white " role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" style="font-size: 25px;">
          Windsor Industrial Development Laboratory Inc.
      </a>
      <p id="nav-cursive">Your Partner In Design Through Simulation</p>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul style="margin-left: 2%;" class="nav navbar-nav navbar-center">
        <li><a href="/material"><b>MATERIALS</b></a></li>
        <li><a href="/design"><b>DESIGN</b></a></li>
        <li><a href="/processing"><b>PROCESSING</b></a></li>
        <li><a href="/testing"><b>TESTING</b></a></li>
        <li><a href="/management"><b>MANAGEMENT</b></a></li>
        <li><a href="/funding"><b>R&D FUNDING</b></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    
  </div><!-- /.container-fluid -->
</nav>
</header>