<div id="mobile-nav-container">
<span id="mobile-nav-logo"><img style="height: 60px; " src="/images/favicon.png"/> </span>

<div class="mobile-nav">
     <div class="menu-btn" id="menu-btn">
 <div></div>
 <span></span>
 <span></span>
 <span></span>
     </div>
 <div id="mobile-space1"></div>
     <div class="responsive-menu">
        <ul id="mobile-list">
           <a id="mobile-links" href="#"><li id="mobile-link-text" ><b>Home</b></li></a>
           <li id="mobile-link-text" ><b>Materials</b></li>
            <a id="mobile-links" href="#"><li id="mobile-link-text" ><b>Design</b></li></a>
           <a id="mobile-links" href="#"><li id="mobile-link-text" ><b>Processing</b></li></a>
 <a id="mobile-links" href="#"><li id="mobile-link-text" ><b>Testing</b></li></a>
  <a id="mobile-links" href="#"><li id="mobile-link-text" ><b>Management</b></li></a>
   <a id="mobile-links" href="#"><li id="mobile-link-text" ><b>R&D Funding</b></li></a>
        </ul>
     </div>
</div>
</div>