  <%- include partials/side-header.ejs %>
        
<div class="spacebox"></div>
<section id="main-side">
<div id="min-nav"><a href="/">Home</a> > <%= title %></div>
<div id="main-title">
<h2>What they say about us?</h2>
</div>
<div class="spacebox"></div>
<span id="main-side-text-container">
<div id="main-side-text">
<b>
<p><b id="large-quote">"</b> I have had the pleasure to work with Ben several years ago as support in a Product Development environment. Ben is highly intelligent and a very hard worker. Since,  Ben has gone on to operate his own company in Product Development (WIDL),  and I have again had the pleasure to work alongside Ben on some development  projects. I recommend Ben and WIDL to anyone. </p>
<p id="signature">Carlo Severini, Project Engineering at ABC Group, January 11, 2011</p>
<p><b id="large-quote">"</b> Ben is an accomplished engineer with a deep knowledge of materials and  computer-based analyses. I've depended on Ben's expertise on several occasions  as a source for technical articles. He is a true professional--both easy to work with  and reliable. </p>
<pid="signature">John DeGaspari, Senior Correspondent at Plastics Machinery Magazine, September 29, 2012</p>
<p><b id="large-quote">"</b> Dr. Chouchaoui and WIDL are very capable in understanding the needs of clients  and offer a value added service in troubleshooting complicated engineering  applications. </p>
<p id="signature">Umberto Carchia, Sales Manager at Wacker Chemie, December 15, 2014</p>
<p><b id="large-quote">"</b> Dr Chouchaoui is very knowledgeable in his field and offers excellent services,  expeditiously, and reasonable prices. </p>
<p id="signature">Dr John Perdikoulias, Vice President at COMPUPLAST, November 24, 2015</p>
</b>
</div>
</span>

<span id="main-side-img">
<img class="wow bounceInUp" src="/images/main-side/aboutus.png"/>
</span>

</section>

</body>


  <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>