  <%- include partials/side-header.ejs %>
        
<div class="spacebox"></div>
<section id="main-side">
<div id="min-nav"><a href="/">Home</a> > <%= title %></div>
<div id="main-title">
<h2>All about WIDL</h2>
</div>
<div class="spacebox"></div>
<span id="main-side-text-container">
<div id="main-side-text">
<b>
<p>Real passion for what we do shows in ways embodied in WIDL's people, products,  and services</p>
<h2>Our Mission:</h2>
<p>WIDL will exceed best-in-class performance by providing outstanding customer  solutions through the expertise of each individual within the organization, and by  continuously improving everything we do.</p>
<h2>Our Values:</h2>
<ul>
    <li><p>Passion: Put your heart in your work!</p></li>
    <li><p>Results: Drive for results!</p></li>
    <li><p>Integrity: Be transparent, direct, honest, and accountable!</p></li>
    <li><p>Dependability: Be a team player, true to your word!</p></li>
    <li><p>Engagement: Actively contribute to your team!</p></li>  
</ul>
</b>
</div>
</span>

<span id="main-side-img">
<img class="wow bounceInUp" src="/images/main-side/aboutwidl.png"/>
</span>

</section>

</body>


  <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>