<%- include partials/header.ejs %>

    <body>
        <div id="spacebox"></div>
        <section id="aboutus" class="jumbotron">
            <h1> About Us </h1>
            <div id="about-red"></div>
            <div id="spacebox"></div>
            <div id="text-container">
            <div class="animatedParent">
                <p class='animated bounceInRight'> WIDL is a R&D company with professional know-how in materials and computer-based analyses. Our goal is to
                    provide practical and cost-effective integrated technical and management services to clients who require
                    additional expertise for specific projects or technical investigations. </p>
                 </div>
                <p>Numerous clients have used our “design by analysis” services, repeatedly, to assist in-house staff meet various
                    project milestones. We pride ourselves on being corporate team players in the development and hands-on
                    implementation stages of each contract. WIDL provides services to industrial, insurance, and legal clients,
                    who rely on us to answer questions such as:</p>
                <ul>
                    <li>How did it fail?</li>
                    <li>How can we fix it?</li>
                    <li>Can we make it better?</li>
                    <li>Is it strong enough?</li>
                    <li>How can we optimize it?</li>
                    <li>Can we reduce its cost?</li>
                    <li>Is it possible to market it fast?</li>
                </ul>
                <p>WIDL customizes services to fit clients’ needs. We continually provide patrons with value-added solutions
                    that translate into competitive advantages and increased profits. We urge you to experience the difference
                    WIDL can bring to your business today!</p>
            </div>
        </section>
        <section id="industries">
            <div id="spacebox"></div>
            <h1> Industries We Serve</h1>
            <div id="about-red"></div>
            <br>

            <div id="border-red">
                <p>WIDL has successfully tackled many and varied applications, under genuinely demanding project constraints
                    and deadlines, in a myriad number of widely varying environments, on behalf of numerous customers and
                    industry sectors.
                </p>
                <p>WIDL has invested quite heavily in preparing for challenges in many technical disciplines, and is sufficiently
                    ready to expand its presence and profile further through a comprehensive program of sectoral diversification.
                    WIDL has over the past few years particularly identified and participated in several dynamic and growing
                    markets into which it intends to more fully establish a steady and permanent presence:</p>
            </div>

            <div id="spacebox"></div>

            <div id="defence-box">
                <h2>Aerospace/Defense</h2>
                <p>To compete in the aerospace and defense markets, device makers must deliver complex products within budget
                    and on stringent schedules. Such objectives must be met without compromise in performance, safety, or
                    reproducibility. Indeed, in the mission-critical fields of aerospace and defense, devices must be reliable,
                    durable, and efficient: human lives hang in the balance. WIDL has worked on aerospace and defense missions,
                    and intends to expand its presence in such fields by partnering with key suppliers.</p>
            </div>
            <div id="spacebox2"></div>
            <div class="row" style="max-width: 95%; margin: auto;">
                <div class="col-sm-6 col-md-4">
                    <h2>Oil and Gas</h2>
                    <p>Today, oil and gas are recovered across Canada and in at least 30 jurisdictions in the USA. However,
                        much of the lower- cost hydrocarbons in America in particular have been recovered, whereas remaining
                        resources are located in geologically-complex reservoirs and in difficult-to-reach locations. WIDL
                        has been, and intends to further be a player in sustainable development of oil/gas resources, via
                        innovative technology and optimal technical decisions.</p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>Agribusiness</h2>
                    <p>Reducing boundaries between nutrition, healthcare, well- being, and cosmetics, the agribusiness continues
                        to expand through linkages. WIDL is strategically well positioned (from testing and simulation standpoints)
                        to capitalize on the growing opportunities for biofuels, novel bio-molecules, and unusual agrimaterials.
                        The latter, in terms of cellulose alcohol, antibiotic/ vaccine, hemp linen, to name but a few are
                        seeing quite a penetration in industries spanning transportation, pharmaceuticals, textiles, along
                        with many others.
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>Healthcare</h2>
                    <p>- Healthcare costs in the USA continue to rise faster than both the economy as a whole and worker’s earnings,
                        and can certainly benefit from modern development approaches. WIDL has over the past few years, selected
                        and optimized materials for surgical use, developed tools/equipment for patient care, and tested
                        packages for medi- cal/clinical drugs. Nonetheless, WIDL’s initiatives are still expand- ing to meet
                        better standards of living and care for aging citizens.</p>
                </div>
            </div>

        </section>

        <div id="spacebox"></div>

        <section id="widl-impact" class="jumbotron">
            <h2> The WIDL Impact </h2>
            <div id="about-red"></div>
            <div id="spacebox"></div>
            <div class="row" style="max-width: 95%; margin: auto;">
                <div class="col-sm-6 col-md-4">
                    <h2>Lasting seal performance:</h2>
                    <p>WIDL aided Smith International (Houston, TX) develop a computer model that simulates rubber pipe seals
                        (“strippers”) in downhole drilling. Predicted contact stresses optimized gripping and deformations
                        negated reversion, an occurrence that costs drilling companies millions of dollars in pipe back-pulling
                        and extended production stoppage. The WIDL- developed method is now religiously used at Smith International.</p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>Airplane manufacturing tools:</h2>
                    <p>WIDL helped Valiant Machine & Tool (Windsor, ON) develop hardware for Boeing’s aircraft assembly and
                        finish. FEA ensured sturdiness of lifters during painting, in particular, saving the company valuable
                        time in bring- ing the 747-8 Intercontinental and 747-8 Freighter to market. Other collaborative
                        work underway at WIDL aims at optimizing tools to produce various airplane parts for The Boeing Company.
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>Insulators composites-conversion:</h2>
                    <p>WIDL assisted Hubbell Power Systems (Centralia, MO) convert an electrical power distribution insulator
                        from fragile, expensive, and difficult-to-make ceramics to composites. The development relied on
                        laboratory work and FEA for speed and optimization, and the material switch saved the company millions
                        of dollars. Consequently, more components are being converted to composites at Hubbell.</p>
                </div>
            </div>

        </section>
    </body>

    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>