  <%- include partials/side-header.ejs %>
        
<div class="spacebox"></div>
<section id="main-side">
<div id="min-nav"><a href="/">Home</a> > <%= title %></div>
<div id="main-title">
<h2>WIDL Stories with a Happy Ending</h2>
</div>
<div class="spacebox"></div>
<span id="main-side-text-container">
<div id="main-side-text">
<b>
<p>Numerous clients have used our "design by analysis" services, repeatedly, to assist n-house staff meet various project milestones.  We pride ourselves on being corporate team players in the development and hands-on implementation stages of each contract.</p>
<p>WIDL provides services to industrial, insurance, and legal clients, who rely on us to answer questions like: Why did it fail? How can we fix it? Can we make it better? Is it strong enough? How can we optimize it? Can we reduce its cost? Is it possible to market it fast?</p>
<p>Below are samples stories that we ended happily:</p>
<ul>
    <li><a href="/documents/case-study-1.pdf">Fitness of Spindle Systems for Machining Units</a></li>
    <li><a href="/documents/case-study-2.pdf">Connector sealing and Assembly Force Reduction</li>
    <li><a href="/documents/case-study-3.pdf">Thermal Analysis of Cold Manifold Product Mold</li>
    <li><a href="/documents/case-study-4.pdf">Avoidance of Plastic Tabs Failure in Assembly</li>
    <li><a href="/documents/case-study-5.pdf">Composite Hose Crimping Fully Nonlinear Analysis</li>
    <li><a href="/documents/case-study-6.pdf">Salvage of Car Lifter Breakage on Chrysler Line</li>
    <li<a href="/documents/case-study-7.pdf">Rear Retainer Manufacturing Tolerances Guidance</li>
</ul>
</b>
</div>
</span>

<span id="main-side-img">
<img class="wow bounceInUp" src="/images/main-side/happy-ending.png"/>
</span>

</section>




  <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>