  <%- include partials/side-header.ejs %>
        
<div class="spacebox"></div>
<section id="main-side">
<div id="min-nav"><a href="/">Home</a> > <%= title %></div>
<div id="main-title">
<h2>Company Flash Presentation</h2>
</div>
<div class="spacebox"></div>
<span id="main-side-text-container-2">
<div id="main-side-text">

<p>WIDL is a R&D firm with know-how in materials and 
computer-based analyses, providing practical and 
cost effective integrated technical and management 
services to clients who require additional expertise 
for specific projects or technical investigations.</p>

<p>WIDL has successfully tackled many and varied 
applications, under genuinely demanding project 
constraints and deadlines, in a myriad of 
widely varying environments, on behalf of numerous (small 
or large) customers and industry sectors.</p>

<p>WIDL has invested quite heavily in preparing for 
(industrial) challenges in many technical disciplines, 
and is sufficiently ready to expand its presence and 
consulting profile further, through a comprehensive 
program of sectoral diversification efforts.</p>

<p>WIDL has over the years particularly identified and 
participated in several dynamic and growing markets
(automotive, aerospace, oil and gas, healthcare, 
agribusiness, etc.) into which it intends to more fully 
establish a steady and permanent presence.</p>

<p>Numerous clients used WIDL’s "design by analysis" 
services, repeatedly, to assist in-house staff meet 
various project milestones. We pride ourselves on ​
being corporate team players in development and 
hands-on implementation stages of each contract.</p>

<p>WIDL provides services to industrial, insurance, 
legal clients, who rely on us to answer to: Why did a product
fail? How can we fix it? Can we make it better? It is 
strong enough? How can we optimize it? Can we 
reduce its cost? Is it possible to market it fast?</p>

<p>WIDL customizes services to fit clients' needs.  We 
continually provide patrons with value-added 
solutions that translate into competitive advantages 
and increased profits. We urge you to experience 
the difference WIDL can bring to your business, without delay!</p>

<p>Your investment with us quantifies as "Research and
Development" or "Continuous Improvement" eligible 
for reimbursement via Federal, State, and Provincial 
programs.  WIDL encourages collaboration in 
improving materials, products, and processes.</p>

<p>We urge you to inquire about the edge WIDL can 
give you today!</p>

</div>
</span>


</section>




  <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>