<%- include partials/side-header.ejs %>

    <body>

        <div class="spacebox"></div>
        <section class="customer">
        <div id="min-nav"><a href="/">Home</a> > <%= title %></div>
        <br>
            <div id="title-box">
                <b>WIDL CUSTOMER PORTAL <span id="title-box-seperator">|</span> TECHNICAL AND COMMERCIAL SUPPORT CENTERS</b>
            </div>
            <div id="side-content">
                <h1 id="side-title">WIDL Customers Support Center </h1>
                <span id="side-text"> 
    <b>
    <p>In today's competitive marketplace, manufacturers must continuously enhance quality, reduce cost, and  accelerate delivery processes.  However, most product developers and manufacturing firms cannot meet  these challenges with internal resources alone.  The alternative is partnering with a "Center of Expertise" that can quickly and effectively apply skilled people, efficient equipment, and demonstrated  technologies to meet industry challenges.  WIDL is such a partner, strategically located in the Detroit,  Michigan - Windsor, Ontario industrial corridor, proven ready to quickly, methodologically, and cost- effectively assist inventors, engineers, suppliers, manufacturers, OEMs improve materials, products, and  production processes.  We urge you to inquire about the difference WIDL can bring to your business  today!</p> 
    <p>Your investment with us and your firm's actual support to WIDL qualifies as "Research and  Development" or "Continuous Improvement" expenditures eligible for reimbursement via Federal, State, and Provincial programs.  WIDL encourages more extensive collaborations with product developers and  makers, and their suppliers and customers, in crafting new applications, in improving existing materials,  products, and processes, and in helping secure funding reliefs and assistance for such pursuits. </p>
    <p>You can reach us by calling 1-226-344-8343, by emailing bencho@wil.ca, or by visiting us at 3310  Longfellow Avenue, Windsor, ON N9E 2L6, or 1232-62 McDougall Street, Windsor, ON N8X 3M7 to  explore possibilities to work together.</p>
    </b>
    </span>
                <span class="wow bounceInRight" id="side-img"><img src="/images/customer/customer.png"/></span>
            </div>
        </section>

    </body>

    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>