  <%- include partials/side-header.ejs %>
        
<div class="spacebox"></div>
<section id="main-side">
<div id="min-nav"><a href="/">Home</a> > <%= title %></div>
<div id="main-title">
<h2>Design and Definition of Design Parameters</h2>
</div>
<div class="spacebox"></div>
<span id="main-side-text-container">
<div id="main-side-text">
<b>
<p>"Design parameters” are often neglected in product conceptualization and  shaping or in manufacturing and processing.  For example: 'What would be the  optimal stress by a "living hinge"? ... Too thick or too think a hinge would require  large actuation forces or bring about failure. </p>
<p>WIDL can help manufactures define 'optimal actuations of hinges' for instance,  among many other parameters such as strength, deflections, and surface finish.   Design parameter definition at WIDL helps part makers establish boundaries for  processing, and can go all the way to ensuring the functionality of OEM items over time.</p>
<p>So if you have a design question, issue, concern, or to understand the limits and  limitations of a material, a product design, or its processing, we urge you to reach  out to WIDL.  This can team with you to understand, quantify, and model  materials, designs, and processes, with full documentation for reproducibility and  future use.  You can 	reach us by email	 or visit us at 1232-62 McDougall Street,  Windsor, ON N8X 3M7 to explore avenues for a mutually beneficial relationships.</p>
</b>
</div>
</span>

<span id="main-side-img">
<img class="wow bounceInUp" src="/images/main-side/design.png"/>
</span>

</section>




  <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>