  <%- include partials/side-header.ejs %>
        
<div class="spacebox"></div>
<section id="main-side">
<div id="min-nav"><a href="/">Home</a> > <%= title %></div>
  <br>
<div id="title-box2">
<b>R&D Grand Structuring and Tax Credits</b>
</div>
<div class="spacebox"></div>
<span id="main-side-text-container">
<div id="main-side-text">
<b>
<p>Governments often sponsor 'new product development' efforts leading to  manufacturing incentives and the spin-off hiring of labor.  WIDL helps clients apply for Government grants geared at such applied R&D.  WIDL, also does the actual  R&D leading to 'new tooling concepts and/or products and machinery', yet  documents all activities and funding assisting patrons secure additional tax  credits.  Government R&D funding requires continual progress in  approaches/ideas, and WIDL is ready to take on such challenges on behalf of  material suppliers, tool-shops and manufacturers, and OEMs. </p>
<p>So if you are contemplating getting into an R&D project or have one of a few  underway, then reach out to WIDL of consultation.  Early involvements of WIDL  are most beneficial to you and your company in saving time, money, resources.</p>
<p>WIDL can team with you to establish effective roadmaps in going about managing  your technical, R&D, and managerial undertakings, with full and detailed  documentation for reproducibility and future use.  You can 	reach us by email	 or  visit us at 1232-62 McDougall Street, Windsor, ON N8X 3M7 to explore avenues  for partnerships.</p>
</b>
</div>
</span>

<span id="main-side-img">
<img class="wow bounceInUp" src="/images/main-side/funding.png"/>
</span>

</section>




  <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>