<%- include partials/header.ejs %>

    <body>



        <section id="offer-head">
            <ul id="slider">
                <li>
                    <a href="#slide4"><img src="/images/slider/slide-1.png" alt=""></a>
                </li>
                <li>
                    <a href="#slide4"><img src="/images/slider/slide-2.jpg" alt=""></a>
                </li>
                <li>
                    <a href="#slide4"><img src="/images/slider/slide-3.png" alt=""></a>
                </li>
                <li>
                    <a href="#slide1"><img src="/images/slider/slide-4.png" alt=""></a>
                </li>
                <li>
                    <a href="#slide2"><img src="/images/slider/slide-5.png" alt=""></a>
                </li>
                <li>
                    <a href="#slide3"><img src="/images/slider/slide-6.png" alt=""></a>
                </li>
                <li>
                    <a href="#slide3"><img src="/images/slider/slide-7.png" alt=""></a>
                </li>

                <li>
                    <a href="#slide3"><img src="/images/slider/slide-8.png" alt=""></a>
                </li>
            </ul>
        </section>

        <br>
        <section id="mainpost">
            <div class='marquee'>
                <div class='marquee-text'>
                    WIDL launching in 2016 it's bi-monthly WIDL Echo technical newsletter -- WIDL to relocate to 1232-62 McDougall headquarter
                    in later half of 2016 -- WIDL seminar in materials, product development, and testing, to resume by end
                    of 2016...

                </div>
            </div>
            <br>
            <div class="container">
                <div class="grid-stack">
                    <a class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="6">
                        <div id="box1" class="grid-stack-item-content">
                            <h2 id="widget-text"><b>06/01/2016</b></h2>
                            <h1 id="widget-text">WIDL to expand in multi-material stereolithography</h1>
                        </div>
                    </a>

                    <a href="#" class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="5" data-gs-height="3">
                        <div id="box2" class="widget-shadow grid-stack-item-content">
                            <h2 id="widget-text"><b>10% Discount</b></h2>
                            <h2 id="widget-text"> if you book your seminar now !</h2>
                        </div>
                    </a>

                    <a href="#" class="grid-stack-item" data-gs-x="9" data-gs-y="0" data-gs-width="3" data-gs-height="3">

                        <div id="purple" class="widget-shadow grid-stack-item-content">

                            <h3 id="widget-text"><b>Click Here To</b></h3>
                            <h1 id="widget-text">Win an hour of free consultation !</h1>
                            <img id="free-img" src="/images/free.png" />
                        </div>

                    </a>

                    <a href="#" class="grid-stack-item" data-gs-x="4" data-gs-y="3" data-gs-width="3" data-gs-height="3">
                        <div id="box4" class="widget-shadow grid-stack-item-content">
                            <h3 id="widget-text"><b>Download Our</b></h3>
                            <h3 id="widget-text"> contribution to knowledge</h3>
                            <p id="box6-text">Sealing Technology</p>
                            <p id="box6-text">Elsevier Ltd</p>
                            <p id="box6-text">The Boulevard, Langlard Lane</p>
                            <p id="box6-text">Kidington, Oxford 0X5 1G8, UK </p>
                            <h1 id="widget-text"><i class="fa fa-download"></i></h1>
                        </div>
                    </a>

                    <a href="/about-widl" class="grid-stack-item" data-gs-x="7" data-gs-y="3" data-gs-width="5" data-gs-height="6">
                        <div id="box5" class="widget-shadow grid-stack-item-content">
                            <h1 id="widget-text">Everything about WIDL...</h1>
                        </div>
                    </a>

                    <div href="" class=" grid-stack-item" data-gs-x="0" data-gs-y="6" data-gs-width="4" data-gs-height="3">
                        <div id="box6" class="grid-stack-item-content">
                            <video  controls>
                                <source src="/documents/mfg.mp4" type="video/mp4">
                            </video>

                        </div>
                    </div>

                    <a href="#" class="grid-stack-item" data-gs-x="4" data-gs-y="6" data-gs-width="3" data-gs-height="3">
                        <div id="contact-box" class="grid-stack-item-content">

                            <img id="contact-box-img" src="/images/contactme.png" />
                        </div>
                    </a>

                    <a href="#" class="grid-stack-item" data-gs-x="0" data-gs-y="9" data-gs-width="3" data-gs-height="3">
                        <div id="box8" class="widget-shadow grid-stack-item-content">
                            <h1 id="widget-text"><span class="wow counter">9,992</span> <i class="fa fa-users"></i> Widl Echo</h1>
                            <br>
                            <h3 id="widget-text"> <b>Join Us!</b> </h3>
                        </div>
                    </a>

                    <a href="/case-studies" class="grid-stack-item" data-gs-x="3" data-gs-y="9" data-gs-width="4" data-gs-height="6">
                        <div id="box9" class="widget-shadow grid-stack-item-content">
                            <h1 id="box9-text">Our stories are... <b>WIDL</b></h1>
                        </div>
                    </a>

                    <a href="#" class="grid-stack-item" data-gs-x="7" data-gs-y="9" data-gs-width="5" data-gs-height="3">
                        <div class="grid-stack-item-content">
                            <iframe src="https://calendar.google.com/calendar/embed?src=en.canadian%23holiday%40group.v.calendar.google.com&ctz=America/Toronto"
                            style="border: 0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </a>

                    <a href="/documents/pamphlet.pdf" class="grid-stack-item" data-gs-x="0" data-gs-y="12" data-gs-width="3" data-gs-height="3">
                        <div id="box11" class="widget-shadow grid-stack-item-content">
                            <h2 id="widget-text"><b>Download our</b></h2>
                            <h1 id="widget-text">presentation pamphlet</h1>
                            <h1 id="widget-text"><i class="fa fa-download"></i></h1>

                        </div>
                    </a>

                    <a href="/aboutus" class="grid-stack-item" data-gs-x="7" data-gs-y="12" data-gs-width="5" data-gs-height="3">
                        <div id="smiles" class="widget-shadow grid-stack-item-content">
                            <h2 id="widget-text">See what they say about <b>us.</b></h2>
                        </div>
                    </a>



                </div>
        </section>

    </body>

    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>