<%- include partials/header.ejs %>

    <body>



        <section id="offer-head">
            <ul id="slider">
                <li>
                    <a href="#slide1"><img src="/images/slide1.png" alt=""></a>
                </li>
                <li>
                    <a href="#slide2"><img src="/images/slide2.png" alt=""></a>
                </li>
                <li>
                    <a href="#slide3"><img src="" alt=""></a>
                </li>
            </ul>
        </section>
        <br>
        <section id="mainpost">
            <div class="container">
                <div class="grid-stack">

                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="6">
                        <div id="box1" class="grid-stack-item-content">
                            <h1>1</h1>
                        </div>
                    </div>


                    <div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="5" data-gs-height="3">
                        <div id="box2" class="grid-stack-item-content">
                            <h2> Book your seminar now to get a 10% discount </h2>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="9" data-gs-y="0" data-gs-width="3" data-gs-height="3">
                        <div id="purple" class="grid-stack-item-content">
                            <a>
                                <h2>Click Here To</h2>
                                <h1>Win an hour of free consultation</h1>
                            </a>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="4" data-gs-y="3" data-gs-width="3" data-gs-height="3">
                        <div id="box4" class="grid-stack-item-content">
                            <h1>4</h1>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="7" data-gs-y="3" data-gs-width="5" data-gs-height="6">
                        <div id="box5" class="grid-stack-item-content">
                            <h1>Everything about WIDL</h1>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="6" data-gs-width="4" data-gs-height="3">
                        <div class="grid-stack-item-content">
                            <h1>6</h1>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="4" data-gs-y="6" data-gs-width="3" data-gs-height="3">
                        <div id="purple" class="grid-stack-item-content">
                            <h2>Click here</h2>
                            <h1>To contact us</h1>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="9" data-gs-width="3" data-gs-height="3">
                        <div class="grid-stack-item-content">
                            <h1>8</h1>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="3" data-gs-y="9" data-gs-width="4" data-gs-height="6">
                        <div class="grid-stack-item-content">
                            <h1>9</h1>
                        </div>
                    </div>
                    <div class="grid-stack-item" data-gs-x="7" data-gs-y="9" data-gs-width="5" data-gs-height="3">
                        <div class="grid-stack-item-content">
                            <iframe src="https://calendar.google.com/calendar/embed?src=en.canadian%23holiday%40group.v.calendar.google.com&ctz=America/Toronto"
                            style="border: 0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="12" data-gs-width="3" data-gs-height="3">
                        <div class="grid-stack-item-content">
                            <h1>11</h1>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="7" data-gs-y="12" data-gs-width="5" data-gs-height="3">
                        <div class="grid-stack-item-content">
                            <h1>12</h1>
                        </div>
                    </div>



                </div>
        </section>

    </body>

    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>