   <%- include partials/header.ejs %>
   
   <body>


<section id="offer-head">
<h1 id="h1-offer">Your Offers</h1>
<br>
<p id="offer-p">This is a brief explanation of what you offer. </p>
<div class="small-box"></div>
</section>
 <section>
 <div class="row" style="text-align: center">
    <div class="col-sm-6 col-md-4">
    <div><img src="images/question.png"/></div>
    <h1>#1 </h1>
        <p> ......... </p>
        <br>
            <button class="btn btn-danger btn-lg outline">View Details</button>
</div>

<div class="col-sm-6 col-md-4">
    <div><img src="images/question.png"/></div>
    <h1>#2 </h1>
        <p> ......... </p>
        <br>
            <button class="btn btn-danger btn-lg outline">View Details</button>
</div>

<div class="col-sm-6 col-md-4">
    <div><img src="images/question.png"/></div>
    <h1>#3 </h1>
    <p> ......... </p>
    <br>
    <button class="btn btn-danger btn-lg outline">View Details</button>

</div>

</div>
</section>

  </body>
  
  <%- include partials/boot.ejs %>
  <%- include partials/footer.ejs %>