<%- include partials/header.ejs %>

    <body>



        <section id="offer-head">
            <ul id="slider">
                <li>
                    <a href="#slide1"><img src="/images/slide1.png" alt=""></a>
                </li>
                <li>
                    <a href="#slide2"><img src="/images/slide2.png" alt=""></a>
                </li>
                <li>
                    <a href="#slide3"><img src="/images/slide3.png" alt=""></a>
                </li>
            </ul>
        </section>

        <br>
        <section id="mainpost">
                    <section id="latest-tweets"><i class="fa fa-twitter"></i>Loading...</section>
                    <br>
            <div class="container">
                <div class="grid-stack">

                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="6">
                        <div id="box1" class="grid-stack-item-content">
                             <h2 id="widget-text"><b>06/01/2016</b></h2>   
                            <h1  id="widget-text">WIDL to expand in rapid prototyping through multi-material stereolithegrapy</h1>
                        </div>
                    </div>


                    <div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="5" data-gs-height="3">
                        <div id="box2" class="grid-stack-item-content">
                            <h2 id="widget-text"><b>10% Discount</b> - if you book your seminar now</h2>
                                                   </div>
                    </div>
                    <div class="grid-stack-item" data-gs-x="9" data-gs-y="0" data-gs-width="3" data-gs-height="3">

                        <div id="purple" class="grid-stack-item-content">
                           
                                <h3 id="widget-text"><b>Click Here To</b></h3>
                                <h1 id="widget-text">Win an hour free consultation</h1>
                            
                        </div>

                    </div>

                    <div class="grid-stack-item" data-gs-x="4" data-gs-y="3" data-gs-width="3" data-gs-height="3">
                        <div id="box4" class="grid-stack-item-content">
                            <h1 id="widget-text">4</h1>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="7" data-gs-y="3" data-gs-width="5" data-gs-height="6">
                        <div id="box5" class="grid-stack-item-content">
                            <h1 id="widget-text">Everything about WIDL</h1>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="6" data-gs-width="4" data-gs-height="3">
                        <div id="box6" class="grid-stack-item-content">
                            <h1 id="widget-text">6</h1>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="4" data-gs-y="6" data-gs-width="3" data-gs-height="3">
                        <div id="purple" class="grid-stack-item-content">
                            <h2 id="widget-text">Click here</h2>
                            <h1 id="widget-text">To contact us</h1>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="9" data-gs-width="3" data-gs-height="3">
                        <div id="box8" class="grid-stack-item-content">
                            
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="3" data-gs-y="9" data-gs-width="4" data-gs-height="6">
                        <div id="box9" class="grid-stack-item-content">
                            <h1 id="widget-text">Our stories have <b>happy</b> endings</h1>
                        </div>
                    </div>
                    <div class="grid-stack-item" data-gs-x="7" data-gs-y="9" data-gs-width="5" data-gs-height="3">
                        <div class="grid-stack-item-content">
                            <iframe src="https://calendar.google.com/calendar/embed?src=en.canadian%23holiday%40group.v.calendar.google.com&ctz=America/Toronto"
                            style="border: 0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="12" data-gs-width="3" data-gs-height="3">
                        <div id="box11" class="grid-stack-item-content">
                            <h2 id="widget-text"><b>Download our</b></h2>
                            <h1 id="widget-text">Presentation pamplet</h1>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="7" data-gs-y="12" data-gs-width="5" data-gs-height="3">
                        <div id="smiles" class="grid-stack-item-content">
                            <h2 id="widget-text">See what they say about us</h2>
                        </div>
                    </div>



                </div>
        </section>

    </body>

    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>