<%- include partials/header.ejs %>

    <body>




            
            
            <section id="news-demo">
  <article>
     
    <div class="text-content">
      <p id="header-text-red"> <b>WIDL is a R&D firm with know-how in materials and  computer-based analyses, providing practical and  cost effective integrated technical and management  services to clients who require additional expertise  for specific projects or technical investigations.</b></p>

    </div>
    <div class="image-content"><a href="#slide4"><img src="/images/slider/slide-1.png" alt=""/></a></div>
  </article>
  <article>
    <div class="text-content">
      <p id="header-text-red"> <b>WIDL has successfully tackled many and varied  applications, under genuinely demanding project  constraints and deadlines, in a myriad number of  widely environments, on behalf of numerous (small  or large) customers and industry sectors.</b></p>

    </div>
    <div class="image-content"><a href="#slide4"><img src="/images/slider/slide-2.jpg" alt=""/></a></div>
  </article>
  <article>
    <div class="text-content">
      <p id="header-text-red"> <b>WIDL has invested quite heavily in preparing for  (industrial) challenges in many technical disciplines,  and is sufficiently ready to expand its presence and  consulting profile further through a comprehensive  program of sectoral diversification efforts.</b></p>

    </div>
    <div class="image-content"><a href="#slide4"><img src="/images/slider/slide-3.png" alt=""/></a></div>
  </article>
   <article>
    <div class="text-content">
      <p id="header-text-red"> <b>WIDL has over the years particularly identified and  participated in several dynamic and growing markets (automotive, aerospace, oil and gas, healthcare,  agribusiness, etc.) into which it intends to more fully  establish a steady and permanent presence.</b></p>
    </div>
    <div class="image-content"><a href="#slide4"><img src="/images/slider/slide-4.png" alt=""/></a></div>
  </article>
   <article>
    <div class="text-content">
      <p id="header-text-red"> <b>Numerous clients used WIDL’s "design by analysis"  services, repeatedly, to assist in-house staff meet  various project milestones. We pride ourselves on  being corporate team players in development and  hands-on implementation stages of each contract.</b></p>

    </div>
    <div class="image-content"><a href="#slide4"><img src="/images/slider/slide-5.png" alt=""/></a></div>
  </article>
   <article>
    <div class="text-content">
      <p id="header-text-red"> <b>WIDL provides services to industrial, insurance,  legal clients, who rely on us to answer to: Why did it  fail? How can we fix it? Can we make it better? It is  strong enough? How can we optimize it? Can we  reduce its cost? Is it possible to market it fast?</b></p>

    </div>
    <div class="image-content"><a href="#slide4"><img src="/images/slider/slide-6.png" alt=""/></a></div>
  </article>
   <article>
    <div class="text-content">
      <p id="header-text-red"> <b>WIDL customizes services to fit clients' needs.  We  continually provide patrons with value-added  solutions that translate into competitive advantages  and increased profits. We urge you to experience  the difference WIDL can bring to your business!</b></p>

    </div>
    <div class="image-content"><a href="#slide4"><img src="/images/slider/slide-7.png" alt=""/></a></div>
  </article>
   <article>
    <div class="text-content">
      <p id="header-text-red"> <b>Your investment with us quantifies as "Research and Development" or "Continuous Improvement" eligible for reimbursement via Federal, State, and Provincial programs.  WIDL encourages collaboration in improving materials, products, and processes.</b></p>
    </div>
    <div class="image-content"><a href="#slide4"><img src="/images/slider/slide-8.png" alt=""/></a></div>
  </article>
  
</section>


        <br>

            <div class='marquee'>
                <div class='marquee-text'>
                    WIDL launching in 2016 it's bi-monthly WIDL Echo technical newsletter -- WIDL to relocate to 1232-62 McDougall headquarter
                    in later half of 2016 -- WIDL seminar in materials, product development, and testing, to resume by end
                    of 2016...

                </div>
            </div>
            <br>
<section id="grid-section">

                <div class="grid-stack">
                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="6">
                        <div id="box1" class="grid-stack-item-content">
                            <h2 id="widget-text-red"><b>06/01/2016</b></h2>
                            <h1 id="widget-text-red">WIDL to expand in multi-material stereolithography</h1>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="5" data-gs-height="3">
                        <a style="text-decoration: none;" href="#" id="box2" class="widget-shadow grid-stack-item-content">
                            <h2 id="widget-text-red"><b>10% Discount</b></h2>
                            <h2 id="widget-text-red"> if you book your seminar now !</h2>
                        </a>
                    </div>

                    <div class="grid-stack-item" data-gs-x="9" data-gs-y="0" data-gs-width="3" data-gs-height="3">

                        <a style="text-decoration: none;" href="#"id="purple" class="widget-shadow grid-stack-item-content">

                            <h3 id="widget-text-red"><b>Click Here To</b></h3>
                            <h1 id="widget-text-red">Win an hour of free consultation !</h1>
                            <img style="height: 100px;" id="free-img" src="/images/free.png" />
                        </a>

                    </div>

                    <div class="grid-stack-item" data-gs-x="4" data-gs-y="3" data-gs-width="3" data-gs-height="3">
                        <a style="text-decoration: none;" href="#" id="box4" class="widget-shadow grid-stack-item-content">
                            <p id="widget-text"><b>Download Our</b></p>
                            <p id="widget-text"> contribution to knowledge</p>
                            <p id="box6-text">Sealing Technology</p>
                            <p id="box6-text">Elsevier Ltd</p>
                            <p id="box6-text">The Boulevard, Langlard Lane</p>
                            <p id="box6-text">Kidington, Oxford 0X5 1G8, UK </p>
                        </a>
                    </div>

                    <div class="grid-stack-item" data-gs-x="7" data-gs-y="3" data-gs-width="5" data-gs-height="6">
                        <a style="text-decoration: none;" href="/about-widl" id="box5" class="widget-shadow grid-stack-item-content">
                            <h1 id="widget-text">Everything about WIDL...</h1>
                        </div>
                    </a>

                    <div class=" grid-stack-item" data-gs-x="0" data-gs-y="6" data-gs-width="4" data-gs-height="3">
                        <div id="box6" class="grid-stack-item-content">
                            <video  controls>
                                <source src="/documents/mfg.mp4" type="video/mp4">
                            </video>

                        </div>
                    </div>

                    <div href="#" class="grid-stack-item" data-gs-x="4" data-gs-y="6" data-gs-width="3" data-gs-height="3">
                        <a href="#"  id="contact-box" class="grid-stack-item-content">

                            <img style="height: 98%; margin: auto;" id="contact-box-img" src="/images/contactme.png" />
                        </a>
                    </div>

                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="9" data-gs-width="3" data-gs-height="3">
                        <a style="text-decoration: none;" href="/widl-echo" id="box8" class="widget-shadow grid-stack-item-content">
                            <h1 id="widget-text"><span class="wow counter">9,992</span>  Widl Echo</h1>
                                <br>                        
                            <h3 id="widget-text"> <b>Join Us!</b> </h3>
                            <br>
                                                            <div class="join-container"> 
                            <img style="height: 80px;" src="/images/user_group.png" />
                            </div>
                        </a>
                    </div>

                    <div class="grid-stack-item" data-gs-x="3" data-gs-y="9" data-gs-width="4" data-gs-height="6">
                        <a style="text-decoration: none;" href="/case-studies" id="box9" class="widget-shadow grid-stack-item-content">
                            <h1 id="box9-text">Our stories are... </h1>
                            <p><img style="padding-left: 1%;" src="/images/favicon.png"/></p>
                        </a>
                    </div>

                    <div class="grid-stack-item" data-gs-x="7" data-gs-y="9" data-gs-width="5" data-gs-height="3">
                        <div class="grid-stack-item-content">
                            <iframe src="https://calendar.google.com/calendar/embed?src=en.canadian%23holiday%40group.v.calendar.google.com&ctz=America/Toronto"
                            style="border: 0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="12" data-gs-width="3" data-gs-height="3">
                        <a style="text-decoration: none;" href="/documents/pamphlet.pdf" id="box11" class="widget-shadow grid-stack-item-content">
                            <h3 id="widget-text"><b>Download our</b></h3>
                            <h4 id="widget-text">presentation pamphlet</h4>
                            <br>
                            <img style="height:100px; padding-left: 30%;" src="/images/closed_folder.png" />
                        </a>
                    </div>

                    <div class="grid-stack-item" data-gs-x="7" data-gs-y="12" data-gs-width="5" data-gs-height="3">
                        <a style="text-decoration: none;" href="/aboutus" id="smiles" class="widget-shadow grid-stack-item-content">
                            <h2 id="widget-text">See what they say about <b>us.</b></h2>
                        </a>
                    </div>


                    </div>
                
</section>

    </body>

    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>