  <%- include partials/side-header.ejs %>
        
<div class="spacebox"></div>
<section id="main-side">
<div id="min-nav"><a href="/">Home</a> > <%= title %></div>
<div id="main-title">
<h2>A Perpetual Quest for Innovation</h2>
</div>
<div class="spacebox"></div>
<span id="main-side-text-container-2">
<div id="main-side-text">

<p>WIDL is an innovator in materials, product and process simulations, and validation testing, within the 
company and for clients, towards manufacturing.  But innovation in industry does not only refer to 
producing innovative products different from the competition: It also refers to innovative and creative 
approaches to the cost-effective usage of materials, designs, and production processes.</p>

<p>Globalization forces small business owners and multinationals alike to continue to “reinvent” themselves 
and their products to retain or gain market shares: Customers do not easily give up favourite products to 
try something new unless for more value for their money. The key to success is therefore to team with 
WIDL in making your product stand out in the market, which can be achieved only through innovative 
and creative approaches from early concepts to production.</p>

<p>Innovation also plays an important role in production processes and management. All successful 
companies stimulate creativity and innovation in HR from product developers to workers at assembly 
lines, yet call on experts like WIDL for further input and collaboration.</p>

<p>Clients are well aware of the potentials of every personnel and of WIDL. The latter helps in several ways to 
add to clients’ innovative and creative working environment to most importantly motivates employees to 
share ideas and experiences.</p>

<p>Innovation in presenting a product is just as important as it digs in innovation in product development and 
manufacturing processes. Indeed your product must be recognizable and attractive to customers, 
which requires well thought and documented benefits in order to become visible in the first 
place</p>

<p>In the end, it is important to keep in mind that innovation carries risks despite the fact that it is inevitable 
for success of every manufacturing business. Simply offering something new and different from 
comparable products does not always bring the desired results. Nevertheless, it is a risk that must be 
taken by every entrepreneur who wants to succeed, because those who are not willing to take that risk will
grow at a much slower pace or will not be able to expand their business outside their local communities at
all.</p>

<p>WIDL can alleviate the risks in your product development, with the high edducation of its people, their 
experience, the tools they use, and the collaboration the company has created with experts in 
complementary disciplines around the world.  WIDL can also share risks and bring in funding to develop 
new materials, designs, processes, towards manufacturing.</p>

</div>
</span>


</section>




  <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>