  <%- include partials/side-header.ejs %>
        
<div class="spacebox"></div>
<section id="main-side">
<div id="min-nav"><a href="/">Home</a> > <%= title %></div>
  <br>
<div id="title-box2">
<h2>Technical and R&D Program Management
</h2>
</div>
<div class="spacebox"></div>
<span id="main-side-text-container">
<div id="main-side-text">
<b>
<p>WIDL, can work with manufactures (one-on-one or in groups) on existing  programs, for cost-savings, tool/molds/dies or parts being quoted, towards  optimization, and on specific projects to make, for cost-effectiveness.  WIDL can  also structure R&D activities for production shops, from early concepts, literature ​
and patent searches, design and simulation, to prototyping and testing, with the  transfer of knowledge benefiting contracting shops and their patrons.</p>
<p>WIDL can be part of any program and production team, or take on entire  management and R&D of applications for OEMs. </p>
<p>So if you are contemplating getting into an R&D project or have one of a few  underway, then reach out to WIDL of consultation.  Early involvement of WIDL are  most beneficial to you and your company in saving time, money, resources. </p>
<p>WIDL can team with you to establish effective roadmaps in going about managing  your technical, R&D, and managerial undertakings, with full and detailed  documentation for reproducibility and future use.  You can 	reach us by email	 or  visit us at 1232-62 McDougall Street, Windsor, ON N8X 3M7 to explore avenues  for partnerships.</p>
</b>
</div>
</span>

<span id="main-side-img">
<img class="wow bounceInUp" src="/images/main-side/management.png"/>
</span>

</section>




  <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>