<%- include partials/side-header.ejs %>

    <body>

        <div class="spacebox"></div>
        <section class="customer" style="height: 620px;">
        <div id="min-nav"><a href="/">Home</a> > <%= title %></div>
        <br>
            <div id="title-box">
                <b>PRESS RELEASES AND NEWS <span id="title-box-seperator">|</span> AGENDA <span id="title-box-seperator">|</span> PHOTOS AND VIDEOS <span id="title-box-seperator">|</span>PUBLICATIONS</b>
            </div>
            <div id="side-content">
                <h1 id="side-title" style="color: black;">WIDL contributions to knowledge !</h1>
                <span   id="side-text"> 
    <b>
    <p>WIDL is keen on academic publishing in scientific journals, to further progress technical knowledge.  Written contributions usually report new and innovative research, completed internally or in conjunction with customers and partners. Researchers at WIDL describe in publications experiments and computer- based calculations, with enough details, allowing independent researchers and practitioners to repeat  the work and verify the results for third-party personal and corporate usage and benefits. </p>
    <p>WIDL’s researchers also actively contribute to the advancement of know-how through seminars and  trainings at the WIDL Research & Technical Center, on the road, or at customers, as well as through  displays in technical gatherings. Presentations by WIDL allow researchers at large to keep up to date with  the developments of fields shared with WIDL's core expertise, and direct their own researches.</p>
    <p>    <p>WIDL works on material development, characterization, and product development and optimization. Topics describe why and  how a product failed?  How to improve it?  How to bring it quicker to market?  What material to use?   How to optimize the product?  How to optimize the tooling for it? And so on.</p>

    </b>
    </span>
                <span class="wow bounceInRight" id="side-img"><img style="height: 500px;width: 500px;" src="/images/customer/news.png"/></span>
            </div>
        </section>

    </body>

    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>