<%- include partials/side-header.ejs %>

    <body>

        <div class="spacebox"></div>
        <section class="customer" style="height: 620px;">
        <div id="min-nav"><a href="/">Home</a> > <%= title %></div>
        <br>
            <div id="title-box">
                <b>PRESS RELEASES AND NEWS <span id="title-box-seperator">|</span> AGENDA <span id="title-box-seperator">|</span> PHOTOS AND VIDEOS <span id="title-box-seperator">|</span>PUBLICATIONS</b>
            </div>
            <div id="side-content">
                <h1 id="side-title" style="color: black;">WIDL contributions to the knowledge !</h1>
                <span   id="side-text"> 
    <b>
    <p>WIDL is keen on academic publishing in scientific journals, to further progress technical knowledge.  Written contributions usually report new and innovative research, completed internally or in conjunction with customers and partners. Researchers at WIDL describe in publications experiments and computer- based calculations, with enough details, allowing independent researchers and practitioners to repeat  the work and verify the results for third-party personal and corporate usage and benefits. </p>
    <p>WIDL’s researchers also actively contribute to the advancement of know-how through seminars and  trainings at the WIDL Research and Technical Center, on the road, or at customers, as well as through  presentations in technical gatherings. Articles by WIDL allow researchers at large to keep up to date with  the developments of fields shared with WIDL core expertise, and direct their own researches.</p>
    <p>Written material by WIDL revolve around materials, development and characterization, as well as around product development and optimization.  Topics covered are theoretical to advance manufacturing  strategies, and practical addressing issues in materials, design, and production.  They describe why and  how a product failed?  How to improve it?  How to bring it quicker to market?  What material to use?   How to optimize the product?  How to optimize the tooling for it? And so on.</p>
    <p>WIDL collaborate with academic institutions and companies around the word 	to address the toughest of  issues facing the world today, by developing innovative, economical, and sustainable solutions.</p>
    <p>Articles by WIDL are part of the general literature.  Still if you crossed an article by WIDL and want a copy of it then please email us at bencho@widl.ca with the detail sough.</p>
    </b>
    </span>
                <span class="wow bounceInRight" id="side-img"><img style="height: 467px; width: 700px;" src="/images/customer/news.png"/></span>
            </div>
        </section>

    </body>

    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>