  <%- include partials/side-header.ejs %>
        
<div class="spacebox"></div>
<section id="main-side">
<div id="main-title">
<h2>Product and Process Simulation and Validation</h2>
</div>
<div class="spacebox"></div>
<span id="main-side-text-container">
<div id="main-side-text">
<b>
<p>The only alternative to the costly "over design" and time-consuming "trial-and- error" is simulation of part performance (e.g., the longevity of a welded structure) and processing (e.g., heaters and cooling lines with their amounts and location of  gates for the lowest cycle time of a BOP (blow-out preventor) for the oilfield).</p>
<p>WIDL can cost-effectively build simulation knowledge for manufacturers,  combining novelties in materials, deigns, and processes. </p>
<p>Consequently, any know-how gained via R&D remains the property of the  contractor, with easy data access at any time via WIDL. </p>
<p>So if you have a design question, issue, concern, to shape a material into a  product, from a product design standpoint, or its processing, then we urge you to  reach out to WIDL.  This can team with you to understand, quantify, and model  materials, designs, and processes, with full documentation for reproducibility and  future use.  You can 	reach us by email	 or visit us at 1232-62 McDougall Street,  Windsor, ON N8X 3M7 to explore avenues for a mutually beneficial relationships.</p>
</b>
</div>
</span>

<span id="main-side-img">
<img class="wow bounceInUp" src="/images/main-side/processing.png"/>
</span>

</section>




  <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>