<%- include partials/side-header.ejs %>

<section id="registration-section">
 
<div id="spacebox"></div>

 

 <form action="index.html" method="post">
      <img src="/images/favicon.png"/>
        <h1>Sign Up</h1>
        
        <fieldset>
          <legend><span class="number">1</span>Your basic info</legend>
          
        <select id="title" name="user_title">
          <optgroup label="Title">
            <option value="Mr">Mr.</option>
            <option value="Mrs">Mrs.</option>
            <option value="Ms">Ms.</option>
            <option value="Dr">Dr.</option>
            <option value="Prof">Prof.</option>
            <option value="Hon">Hon.</option>
          </optgroup>
         
        </select>
          <div style="height: 25px;"></div>
          <label for="name">Fullname:</label>
          <input type="text" id="name" name="user_name">
          
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="user_email">
          
           <select id="address" name="user_address">
          <optgroup label="Address">
            <option value="Home">Home Address</option>
            <option value="Company">Company Address</option>
          </optgroup>
         
        </select>
                  <div style="height: 25px;"></div>

         <label for="address">Address:</label>
          <textarea id="address" name="user_address"></textarea>
          
                    <div style="height: 25px;"></div>

          
          <label for="phonenumber">Phone Number:</label>
          <input type="tel" id="phonenumber" name="user_phonenumber">
          
          
          
          <label for="fax">Fax:</label>
          <input type="tel" id="fax" name="user_fax">
          
          
        </fieldset>
        
        <fieldset>
          <legend><span class="number">2</span>About You</legend>
          <label for="bio">Biography:</label>
          <textarea id="bio" name="user_bio"></textarea>
        </fieldset>
                  <div style="height: 25px;"></div>

        <button id="sub-but" type="submit">Sign Up</button>
      </form>

</section>


    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>