<%- include partials/header.ejs %>

    <body>
        <section id="seminar-intro" >
            <div id="spacebox2"></div>
            <div class="wow bounce">
                <h2> What a day at WIDL will look like </h2>
                <div id="about-red"></div>
            </div>
            <div id="spacebox2"></div>
            <div class="container">
                <ul>
                    <li id="border-red" class="wow bounceInLeft" data-wow-duration="2s">
                        <h3>Multi-materials / fields FEA class</h3>
                        <p>Two-day, hands-on FEA training -</p>
                    </li>
                    <br>
                    <li id="border-red" class="wow bounceInRight" data-wow-duration="2s">
                        <h3>Rubber products design/FEA</h3>
                        <p>One-day, hands-on rubber FEA -</p> 
                    </li>
                    <br>
                    <li id="border-red" class="wow bounceInLeft" data-wow-duration="2s">
                        <h3>Plastics products design/FEA</h3>
                        <p>One-day, hands-on plastics FEA - </p>
                    </li>
                    <br>
                    <li id="border-red" class="wow bounceInRight" data-wow-duration="2s">
                        <h3>Die/mold Structural analysis</h3>
                        <p>One-day, hands-on mold structual FEA -</p>
                    </li>
                    <br>
                    <li id="border-red" class="wow bounceInLeft" data-wow-duration="2s">
                        <h3>Multi-materials/fields FEA class</h3>
                        <p>Two-day, hands-on rubber injection CFD - </p>
                    </li>
                    <br>
                     <li id="border-red" class="wow bounceInRight" data-wow-duration="2s">
                          <h3>Rubber products molding/CFD</h3>
                          <p>One-day, hands-on rubber injection CFD -</p>  
                     </li>
                     <br>
                            <li id="border-red" class="wow bounceInLeft" data-wow-duration="2s">
                                <h3>Plastics products molding/CFD</h3>
                                <p>One-day, hands-on plastics injection CFD -</p>
                            </li>
                            <br>
                                <li id="border-red" class="wow bounceInRight" data-wow-duration="2s">
                                    <h3>Die/mold thermal analysis</h3>
                                    <p>One-day, hands-on plastics injection CFD -</p>
                                </li>
                                <br>
                                    <li></li>
                                        <li></li>
                                            <li></li>
                </ul>
            </div>


        </section </body>

        <%- include partials/boot.ejs %>
            <%- include partials/footer.ejs %>