<%- include partials/header.ejs %>

    <div id="spacebox"></div>
    <section id="service-section">
        <div id="spacebox"></div>
        <h1> THE WIDL BUSINESS PROPOSITION </h1>
        <div id="about-red"></div>
        <br>
        <p id="service-into" style="max-width:50%; margin: auto;">In today’s competitive marketplace, manufacturers must continuously enhance quality, reduce cost, and accelerate
            delivery processes. However, most manufacturing firms cannot meet these challenges with internal resources alone.
            The alternative: partnering with a ‘Center of Expertise’ that can quickly and efficiently apply skilled people,
            efficient equipment, and demonstrated technologies to meet industry challenges. WIDL is such “Center of Expertise”,
            strategically located in the Detroit, Michigan-Windsor, Ontario industrial corridor, proven ready to quickly,
            methodically, and cost-effectively assist manufacturers and their customers.</p>
        <div id="spacebox2"></div>
        
        <div id="service-content" style="max-width: 90%; margin: auto;">
        <div class="row">

            <div id="demo1" class="col-xs-6">
                <img  src="images/mat.png" />
                <h2>Materials testing / characterization</h2>
                <p>WIDL can select, reverse-establish, and inspect any material, for any manufacturing process, through destructive
                    or NDE techniques. Besides, obtaining material parameters from test data constitutes a major obstacle
                    to valid time-simulations. WIDL can assist toolshops, manufacturers, or OEMs, characterize their materials
                    for FEA or CFD. WIDL can also select parameters for modeling at WIDL, or for patrons’ discretionary use.
                    WIDL can develop special equipment for end- applications as well, from design, build, trials, data acquisition,
                    and analysis of test results.</p>
            </div>
            <div id="demo2" class="col-xs-6">
                <img  src="images/design.png" />
                <h2>Design / definition of design parameters</h2>
                <p>“Design parameters” are often neglected in product shaping or processing. For example: ‘What would be the
                    optimal stress by a “living hinge”?’ ... too thick or too thin a hinge would require large actuation
                    forces or bring about failure. WIDL can help manufacturers define ‘optimal actuations of hinges’ for
                    instance, among many other design parameters such as strength, deflections, and surface finish. Design
                    parameter definition at WIDL helps part makers establish boundaries for processing, and can go all the
                    way to ensuring the functionality of OEM items over time.</p>
            </div>


        </div>

        <div class="row">
            <div id="tada" class="col-sm-6 col-md-4">
                <img  src="images/product.png" />
                <h2>Product/process simulation/validation</h2>
                <p>The only alternative to the costly “over-design” and time- consuming “trial-and-error” is simulation of part
                    performance (e.g., the longevity of a welded structure) and processing (e.g., heaters/cooling lines and
                    amounts/locations of gates for the lowest cycle time of a BOP (blow-out preventer) for the Oilfield).
                    WIDL can cost-effectively build simulation knowledge for manufacturers, combining novelties in materials,
                    designs, and processes. Consequently, any know-how gained via R&D remains the property of the contractor,
                    with easy data access at any time via WIDL.</p>
            </div>
            <div id="tada1" class="col-sm-6 col-md-4">
                <img  src="images/tech.png" />
                <h2>Technical/R&D program management</h2>
                <p>WIDL can work with manufacturers (one-on-one, or in groups) on: existing programs, for cost-savings; tools/molds/dies
                    or parts being quoted, towards optimization; and specific projects to make, for cost-effectiveness. WIDL
                    can also structure R&D activities for production shops, from early concepts, literature and patent searches,
                    design and simulation, to prototyping and testing, with the transfer of knowledge benefiting contracting
                    shops and their patrons. WIDL can be part of any program and production team, or take on entire management
                    and R&D of applications for OEMs.</p>
            </div>
            <div id="tada2" class="col-sm-6 col-md-4">
                                <img src="images/r&d.png" />
                <h2>R&D grants structuring and tax credits</h2>
                <p>Governments often sponsor ‘new product development’ efforts leading to manufacturing incentives and the spin-off
                    hiring of labor. WIDL helps clients apply for Government grants geared at such applied R&D. WIDL also
                    does the actual R&D leading to ‘new tooling concepts and/or products/machinery’, yet documents all activities
                    and findings assisting patrons secure additional tax credits. Government R&D funding requires continual
                    progress in approaches/ideas, and WIDL is ready to take on such challenges on behalf of material suppliers,
                    toolshops/manufacturers, and OEMs.</p>
            </div>


        </div>
        </div>
        <div id="spacebox2"></div>

    </section>



    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>