<%- include partials/side-header.ejs %>

    
        <body>


            
        </section>
        
        <div class="spacebox"></div>
<section id="main-side">
<div id="min-nav"><a href="/">Home</a> > <%= title %></div>
        <br>
<div id="title-box">
       <b>PURCHASING POLICY <span id="title-box-seperator">|</span> BECOMING A SUPPLIER <span id="title-box-seperator">|</span> ONLINE APPLICATIONS <span id="title-box-seperator">|</span>GENERAL PURCHASING CONDITIONS</b></div>
<div class="spacebox"></div>
<span id="main-side-text-container">
<div id="main-side-text">
 <b>
    <p>WIDL builds long-lasting and balanced relationships with suppliers, be they in  software development and sales, machinery building and supply, training -  academic or industrial. These are selected according to demanding criteria in  terms of performance, expertise, and technological innovation.</p>
    <p>WIDL's collaboration or purchasing policies are in line with its goals for excellence  and competitiveness, and fully match industrial regulations and corporate social  responsibilities. Over and above a demand for outstanding quality and on-time  delivery, WIDL’ strategy for expansion through collaboration is based on long- term, balanced, and mutually profitable relations with its suppliers. </p>
    <p>Whether large corporations, small businesses, or even individuals, partners are  essential to WIDL’s business model. The latter offers the most up-to-date solutions to customers through a worldwide outreach.  WIDL also sets ambitious objectives  and expects partners, collaborators, suppliers to commit to continuous  improvement in competitiveness, trickling to our customers.</p>
    <p>So if you feel you can help WIDL become better or to partner in what WIDL does,  then submit a proposal as to how, to bencho@widl.ca – we can also send you the  WIDL partner agreement for you to fill.  You are also welcome to visit us at 3310  Longfellow Avenue, Windsor, ON N9E 2L6, or 1232-62 McDougall Street, Windsor,  ON N8X 3M7to explore avenues for a mutually beneficial relationship	</p>
    </b>
</div>
</span>

<span id="main-side-img">
<img class="wow bounceInUp" src="/images/customer/supplier.png"/>
</span>

</section>

    </body>

    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>