<%- include partials/side-header.ejs %>


    
     <body>


            
        </section>
        
        <div class="spacebox"></div>
<section id="main-side">
<div id="min-nav"><a href="/">Home</a> > <%= title %></div>
        <br>
<div id="title-box">
                <b>OUR STRENGTHS <span id="title-box-seperator">|</span> OUR OFFERINGS <span id="title-box-seperator">|</span> YOUR EAGERNESS <span id="title-box-seperator">|</span>YOUR KNOWLEDGE</b></div>
<div class="spacebox"></div>
<span id="main-side-text-container">
<div id="main-side-text">
    <b>
   <p>WIDL's purpose-driven Research & Technology Center on 1232-62 McDougall  Street, Windsor, ON N8X 3M7 consolidates the company’s efforts in product  development, training, and trial manufacturing.</p>
   <p>To attract best talents, WIDL calls on a large network of ambassadors,  worldwide, from academia and industry. These dial in to WIDL's R&TC aligning their  strengths, educations, expertise, experiences, to assist WIDL serve customers  further better.</p>
   <p>By joining WIDL, you will become an integral part of our culture for innovation and continuous improvement. You will also benefit from regular consultancies to  constantly tune your knowledge and skills, and to stay abreast of new happenings at  WIDL. Above all, you will be actively involved in our employee-driven innovation  process. At WIDL, we believe that research is everyone's business, in terms of  individual ideas that underpin our collective strength.  WIDL continues to gather  talented people able and willing to address the toughest of issues facing the world today, by developing innovative, economical, and sustainable solutions.  </p>
   <p>So if you feel you can help WIDL improve, or to partner in what WIDL does, then  submit your credentials to bencho@widl.ca.  You can also reach us by courier at  3310 Longfellow Avenue, Windsor, ON N9E 2L6, or 1232-62 McDougall Street,  Windsor, ON N8X 3M7 to strengthen the WIDL human capital.</p>
    </b>
</div>
</span>

<span id="main-side-img">
<img class="wow bounceInUp" src="/images/customer/talent.png"/>
</span>

</section>

    </body>

    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>