<%- include partials/side-header.ejs %>

    <body>

        <div class="spacebox"></div>
        <section class="customer">
        <div id="min-nav"><a href="/">Home</a> > <%= title %></div>
        <br>
            <div id="title-box">
                <b>OUR STRENGTHS <span id="title-box-seperator">|</span> OUR OFFERINGS <span id="title-box-seperator">|</span> YOUR EAGERNESS <span id="title-box-seperator">|</span>YOUR KNOWLEDGE</b>
            </div>
            <div id="side-content">
                <h1 id="side-title">Welcome to the WIDL pool of talents  </h1>
                <span id="side-text"> 
    <b>
   <p>WIDL's purpose-driven Research & Technology Center on 1232-62 McDougall  Street, Windsor, ON N8X 3M7 consolidates the company’s efforts in product  development, training, and trial manufacturing and corporate innovation team.</p>
   <p>To attract the best talent, WIDL calls on a large network of ambassadors,  worldwide, from academia and industry. They connect from around the world  with WIDL’s Research & Technology Center and make proposals to align their  strengths, educations, expertise, experiences, to assist WIDL serve customers  further better.</p>
   <p>By joining WIDL, you will become an integral part of our culture for innovation and continuous improvement. You will also benefit from regular consultancies to  constantly tune your knowledge and skills, to stay abreast of new happenings at  WIDL. Above all, you will be actively involved in our employee-driven innovation  process. At WIDL, we believe that research is everyone's business, in terms of  individual ideas that underpin our collective strength.  WIDL continues to gather  talented people able and willing to address the toughest of issues facing the world today, by developing innovative, economical, and sustainable solutions.  </p>
   <p>So if you feel you can help WIDL improve, or to partner in what WIDL does, then  submit your credentials to bencho@widl.ca.  You can also reach us by courier at  3310 Longfellow Avenue, Windsor, ON N9E 2L6, or 1232-62 McDougall Street,  Windsor, ON N8X 3M7 to strengthen the WIDL human capital.</p>
    </b>
    </span>
                <span class="wow bounceInRight" id="side-img" ><img style="height: 467px; width: 700px;"src="/images/customer/talent.png"/></span>
            </div>
        </section>

    </body>

    <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>