  <%- include partials/side-header.ejs %>
        
<div class="spacebox"></div>
<section id="main-side">
<div id="min-nav"><a href="/">Home</a> > <%= title %></div>
  <br>
<div id="title-box2">
<h2>Accelerated Life Testing</h2>
</div>
<div class="spacebox"></div>
<span id="main-side-text-container">
<div id="main-side-text">
<b>
<p>WIDL   has   testing   capabilities   and   extended   testing   capabilities   in collaboration   with   many   academic   and   industrial   partners.     Now   unlike qualitative testing, WIDL performs accelerated life tests providing reliability data such as the probability of a product to fail, its mean life under use conditions, and its projected returns and warranty costs. </p>
<p>Reliability   data  also   assesses   risk   performance,   design,  processing,   etc. Accelerated   life   testing   can   take   the   form   of   usage   rate   or   overstress acceleration.   Still,   accelerated   life   test   “stresses”   and   “stress   levels”   at WIDL   speed   failure   modes   under   consideration;   however,   they   do   not introduce failure modes that would never occur in service.</p>
<p>Thus if you have testing needs, we urge you to consult with WIDL: Our  early involvements are most beneficial saving you and your company  valuable time, money, resources. </p>
<p>WIDL aims at teaming with clients to establish effective testing protocols, with full and detailed documentation for reproducibility and future use.  You can  reach us by email  or visit us at 1232-62 McDougall Street, Windsor, ON N8X 3M7 to explore avenues for partnerships.</p>
</b>
</div>
</span>

<span id="main-side-img">
<img class="wow bounceInUp" src="/images/main-side/testing.png"/>
</span>

</section>




  <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>