  <%- include partials/side-header.ejs %>
        
<div class="spacebox"></div>
<section id="main-side">
<div id="min-nav"><a href="/">Home</a> > <%= title %></div>
<div id="main-title">
<h2>The WIDL-Echo Technical Newsletter</h2>
</div>
<div class="spacebox"></div>
<span id="main-side-text-container">
<div id="main-side-text">
<b>
<p>WIDL has in 2006 launched a technical newsletter: The WIDL Echo.  This has for  sixteen year this far brought to the practitioner, bi-monthly, new developments in  materials and computer-based technologies. </p>
<p>The newsletter is divided into an “About Us” section presenting WIDL.  It features  a main article for all audiences.  It questions the reader about a top of current  interest.  And it presents a case study of work completed at WIDL. </p>
<p><a href="#">Please register</a> to obtain, bi-monthly, your copy of WIDL Echo, by email.  The  information you are about to supply will be used strictly at WIDL, for the purpose  intended, and will be treated as confidential. </p>
<ul>
    <li>
    <a href="/documents/Echo-2016-1.pdf"><p id="echo-link">WIDL Echo Volume 16, Number One</p></a>
    January 15, 2016
    </li>
    <li>
    <a href="/documents/Echo-2016-2.pdf"><p id="echo-link">WIDL Echo Volume 16, Number Two</p></a>
    March 15, 2016
    </li>
    <li>
    <p id="coming-soon-link">WIDL Echo Volume 16, Number Three</p>
    <div id="coming-soon-date">May 15, 2016</div>
    </li>
</ul>
</b>
</div>
</span>

<span id="main-side-img">
<img class="wow bounceInUp" src="/images/main-side/widl-echo.png"/>
</span>

</section>

</body>


  <%- include partials/boot.ejs %>
        <%- include partials/footer.ejs %>