body {
    	font-family: 'Arial Narrow', Arial, sans-serif;
}

.navbar-white{
 

-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.63);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.63);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,0.63);
}



/* General Styles */

.spacebox {
    height: 50px;
    
}

/* Customers */

.customer {
  height: 600px;
}

#title-box {
    font-family: 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    border: 1px solid #f5f5ef;
    background-color: #f5f5ef;
    text-align: center;
    margin: auto;
    max-width: 60%;
    font-size: 15px;
    color: #b3b3b3;
    line-height: 50px;
}

#title-box2 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    border: 1px solid #f5f5ef;
    background-color: #f5f5ef;
    text-align: center;
    margin: auto;
    max-width: 60%;
    font-size: 25px;
    color: #b3b3b3;
    line-height: 50px;
}

#title-box-seperator {
    padding-left: 2%;
    padding-right: 2%;
    color:  #e6e6e6;
}

#side-content {
    max-width: 90%;
    margin: auto;

}

#side-title {
    
    padding-left: 18%;
  color: #e60000;
}
#side-text {
    font-size: 18px;
    float: left;
    padding-left: 18%;
    max-width: 58%;
}
#side-img {
    float: right;
}

/* Material */

#main-side {
    height: 600px;
}

#main-title {
    margin: auto;
    background: rgb(230,230,230);
background: -webkit-linear-gradient(right, rgba(230,230,230,0), rgba(230,230,230,1));
    color: rgb(190,190,190);
    max-width: 60%;
    text-align: center;

    
}

#min-nav {
    max-width: 60%;
    margin: auto;
}



#main-side-text-container {
     font-size: 18px;
    float: left;
    padding-left: 20%;
    max-width: 58%;

}

#main-side-text-container-2 {
     font-size: 16px;
    float: left;
    padding-left: 20%;
    max-width: 80%;

}



#main-side-img {
    padding-right: 15%;
    float: right;
}

/* Coming soon grey out and echo links*/

#echo-link {
    padding-top: 2%;
}

#coming-soon-link {
    color: lightgrey;
    text-decoration: underline;
    padding-top: 2%;
}

#coming-soon-date {
    color: lightgrey;
}

#registration-section {
    max-width: 100%;
    margin: auto;
    text-align: center;
}

#register_form {
   display: inline-block;
    text-align: center;
}

#reg-form-title {
    margin: auto;
    max-width: 30%;
    border-bottom: 4px solid #e60000;
}

.switch {
    border: solid 1px lightgrey;
    padding: 2%;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #e60000;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}