body {
    	font-family: 'Arial Narrow', Arial, sans-serif;
}

.navbar-white{
 
-webkit-box-shadow: 0px 19px 73px -25px rgba(0,0,0,0.63);
-moz-box-shadow: 0px 19px 73px -25px rgba(0,0,0,0.63);
box-shadow: 0px 19px 73px -25px rgba(0,0,0,0.63);
}

/* General Styles */

.spacebox {
    height: 50px;
    
}

/* Customers */

.customer {
  height: 600px;
}

#title-box {
    font-family: 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    border: 1px solid #f5f5ef;
    background-color: #f5f5ef;
    text-align: center;
    margin: auto;
    max-width: 60%;
    font-size: 15px;
    color: #b3b3b3;
    line-height: 50px;
}

#title-box-seperator {
    padding-left: 2%;
    padding-right: 2%;
    color:  #e6e6e6;
}

#side-content {
    max-width: 90%;
    margin: auto;

}

#side-title {
    
    padding-left: 18%;
  color: #e60000;
}
#side-text {
    font-size: 18px;
    float: left;
    padding-left: 18%;
    max-width: 58%;
}
#side-img {
    float: right;
}