.siteLoadUp {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/images/loader.gif') 50% 50% no-repeat rgb(255,255,255);
}

body {
background-color: #E6E6E6;
            font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;



    
}


#offer-head{
    max-height: 100%;
    text-align: center;
    
}

#h1-offer {
        color:  #e60000;
        font-size: 50px;
}

#offer-p {
    color: black;
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-danger.outline {
    border: 2px solid black;
    color: black;
}
.btn-danger.outline:hover, .btn-danger.outline:focus, .btn-danger.outline:active, .btn-danger.outline.active, .open > .dropdown-toggle.btn-danger {
    color: black;
    border-color: black;
}
.btn-danger.outline:active, .btn-danger.outline.active {
    border-color: black;
    color: lightgrey;
    box-shadow: none;
}

.box {
    margin: auto;
    max-width: 95%;
    background-color:  #e60000;
    color: white;
    font-size: 25px;
    text-align: left;
font-family: 'Brush Script MT', cursive;
}

.small-box {
        background-color:  #e60000;
        margin: auto;
        max-width: 5%;
        height: 5px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

/* NAVBAR */
.navbar-white{
  background: white;
  border-bottom: 1px solid lightgrey;
}

.navbar-white .navbar-nav > li > a,
.navbar-white .navbar-nav > li > a:hover
{
  color: black;
  line-height: 50px;

}

.navbar-white .navbar-brand {
  line-height: 50px;
}

.navbar-white .navbar-nav > .open > a,
.navbar-white .navbar-nav > .open > a:hover,
.navbar-white .navbar-nav > .open > a:focus{
  background: white;
  color: black;
      text-align: center;
}

#nav-btn {
  background-color: #4E4F4F;
  color: #fff;
  border: none;
  border-radius: 0;
  margin-top: 20px;
  line-height: 10px;
}
/* FOOTER */

@media (max-width: 480px) {
    #footer-info {
       max-height: 500px !important;
    }
}

#spacebox {
    max-width: 100%;
    height: 200px;
}

#spacebox2 {
    max-width: 100%;
    height: 100px;
}

#spacebox3{
    max-width: 100%;
    height: 50px;
}



.container-f {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    position: relative;
    max-width: 100%;
    text-align: center;
    max-height: 100%;
    background-color: #555859;
 }

#footer-info {
    max-width: 50%;
    margin: auto;
}
 
 .dev-footer {
     padding-top: 10px;
     height: 50px;
     max-width: 50%;
     margin: auto;
     background-color: #4E4F4F;
     color: #9CA9AD;
      -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
              -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
                         box-shadow: 0px 0px 10px rgba(0,0,0,.8);
 }
 
 #footer-title {
     color: #D4D4D4;
     text-align: center;
 }
 #footer-link {
     color: darkgrey;
 }
 #footer-dev-link {
     color: white;
 }
 
 #outline-footer {
     max-width: 100%;
     height: 10px;
     background-color: grey;
      -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
              -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
                         box-shadow: 0px 0px 10px rgba(0,0,0,.8);
 }
 
ul
{
    list-style-type: none;
}

/* About Us */

#aboutus {
    font-size: 30px;
    margin:auto;
    text-align: center;
    max-width: 100%;
}

#about-red {
    margin: auto;
    height: 10px;
    max-width: 20%;
    background-color: #e60000;
}

#industries {
    max-width: 100%;
max-height: 100%;
    text-align: center;
}

#widl-impact {
max-height: 100%;
    text-align:center;
    max-width: 100%;
}

#text-container {
    margin:auto;
    max-width: 80%;
}

#aboutus-red-border {
    max-width: 50%;
    margin: auto;
}

#border-red {
    margin: auto;
    border-radius: 25px;
    border: 2px solid #e60000;
    padding: 20px; 
    max-width: 100%;
    max-height: 100%;

}

#defence-box {
    max-width: 50%;
    max-height: 100%;
    margin: auto;
}

/* Contact Us */

#contact-section {
    max-width: 50%;
    margin: auto;
    text-align: center;
    border-left-style: solid;
    border-left-color: #e60000;
    border-left-width: 40px;
    font-family: 'Brush Script MT', cursive;
}

#submit_button {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#contact_form {
    max-width: 75%;
    margin: auto;
}

#contact-info {
    text-align: center;
    margin: auto;
    max-width: 50%;
    border-bottom-style: solid;
    border-bottom-color: #e60000;
    border-bottom-width: 40px;
}

#map {
      border-radius: 50%;
    
        
}

/* Products and Services */

#service-section {
    max-width:95%;
border-style: solid;
border-color: #e60000;
    text-align: center;
    margin: auto;
        border-radius: 25px;
}

/* Seminar Page */

#seminar-intro {
    border-top-style: solid;
    border-top-color: #e60000;
    border-bottom-style: solid;
    border-bottom-color: #e60000;
    margin: auto;
    text-align: center;

}

#seminar-second {
    text-align: center;
    margin: auto;
    max-height: 100%;
    max-width: 80%;
}

#content-container {
    max-width: 80%;
    margin: auto;
}

#register-button {
    float: right;
}






#mainpost {
    max-width: 100%;
    margin: auto;
}

.grid-stack-item-content {
 font-family: 'Times New Roman', Times, serif;
    
}
.grid-stack-item-content:hover::after {
   position: absolute;
    z-index: 1;
    background-color: black;
    opacity: 0.7;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

}

#purple {
    background-color: purple;
    color: white;
    opacity: 0.8;
    
}

#box1 {
    background: url("/images/box1.png");
}

#box2 {
    
        background: url("/images/box2.png");
        color: white;
}

#box6 {
    background-color: #4cb2b8;
        opacity: 0.8;
}
#box4 {
    background-color: #4cb2b8;
        opacity: 0.8;
}

#box5 {
            background: url("/images/box5.png");
            color: white;
}
#box8 {
    background-color: salmon;
    color: white;
}

#box9 {
                background: url("/images/line.jpg")no-repeat;
                color: white;
}

#smiles {
             background: url("/images/smiles.jpg");
             color:white;
}

#box11 {
    background-color: #4cb2b8;
    color: white;
        opacity: .8;
}

#widget-text {
    color: white;
    max-width: 90%;
    margin: auto;
}


#nav-cursive {
font-family: 'Brush Script MT', cursive;
    color: #e60000;
}

#latest-tweets {
    background: #fafafa;
    border: 1px solid #eaeaea;
    padding: 5px 15px;
    border-radius: 5px;
    overflow: hidden;
    max-width: 60%;
    margin: auto;
}


/* Remove padding, margin, bullets and 
   make sure it's only one line */
#latest-tweets ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    float: left; /* This makes the ul the full width of the children */
}

/* Tweets on one line, separated */
#latest-tweets ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

#latest-tweets ul li p {
    margin: 0;
}

/* Hide some stuff we don't want */
#latest-tweets ul li div.user, 
#latest-tweets ul li p.timePosted, 
#latest-tweets ul li p.interact {
    display: none;
}





/* Just for looks */
#latest-tweets {
    background: #fafafa;
    border: 1px solid #eaeaea;
    padding: 5px 15px;
    border-radius: 5px;
    overflow: hidden;
}

/* Remove padding, margin, bullets and 
   make sure it's only one line */
#latest-tweets ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    float: left; /* This makes the ul the full width of the children */
}

/* Tweets on one line, separated */
#latest-tweets ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

#latest-tweets ul li p {
    margin: 0;
}

/* Hide some stuff we don't want */
#latest-tweets ul li div.user, 
#latest-tweets ul li p.timePosted, 
#latest-tweets ul li p.interact {
    display: none;
}


/* Scroll it (thanks: http://stackoverflow.com/questions/21233033/css3-marquee-effect) */
#latest-tweets ul {
    padding-left: 110%;  /* show the marquee just outside the paragraph */
    -webkit-animation: marquee 30s linear infinite;
}

#latest-tweets ul:hover {
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}